@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800&subset=cyrillic');

body {
  margin: 0;}

.flex {  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;}

.rectangle1 {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #424242;}

.rectangle2 {
  margin-top: 0px;
  margin-left: 0px;}

.content1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: yellow;}

.content1 a {
  color: #F9FBE7;
  text-decoration: none;
}

.content2 {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;}

.anons {
  width: 50%;
  min-width: 300px;
  border: 0.5px solid #979797;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #FDD835;}

p {
  font-family: "Times New Roman";
  text-indent: 25px;
  text-align: justify;}

.t1 {
  border: 0.5px solid #979797;
  color: yellow;
  background-color: #424242;
  text-indent: 20px;}

.t2 {
  text-align: center;}

.image1 {
  padding-top: 10px;
  margin: auto;}

.image2 {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;}

.image3 {
  float: right;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;}

.image4 {
  float: right;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;}

.image5 {
  float: center;}

.icon {
  border-radius: 5px;
  margin-left: 15px;
  border: 0.5px solid #979797;
  background-color: #FDD835;}
